@media screen and (max-width: 970px){
    .box-1 h1{
        font-size: 2.900rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 790px){
    .box-1 h1{
        font-size: 2.200rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 720px){
    .box-1 h1{
        font-size: 2.10rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
    .box-1 p{
        margin-top: 45px;
    }
}

@media screen and (max-width: 630px){
    .box-1 h1{
        font-size: 1.999rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 580px){
    .box-1 h1{
        font-size: 1.800rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
    .box-1 p{
        font-size: 14.75px;
    }
}

@media screen and (max-width: 540px){
    .box-1 h1{
        font-size: 1.500rem;
        line-height: 3rem;
        letter-spacing: 3px;
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    .flex img{
        width: 120px;
        height: 120px;
        margin: auto;
    }
    .flex h3{
        text-align: center;
    }
}

@media screen and (max-width: 470px){
    .box-1 h1{
        font-size: 1.400rem;
        line-height: 2rem;
        letter-spacing: 1px;
    }
    .sociais{
        gap:10px;
    }
}

@media screen and (max-width: 420px){
    nav a {
        padding: 12px 14px;
}
}

@media screen and (max-width: 400px){
    .box-1 h1{
        font-size: 1.200rem;
        line-height: 2rem;
        letter-spacing: 1px;
    }
    .sociais{
        gap:10px;
    }
    .btn{
        display: inline-flex;
        font-size: 0.9rem;
        line-height: 0.9rem;
        text-align: center;
    }
}

@media screen and (max-width: 360px){
    .box-1 h1{
        font-size: 19px;
        line-height: 2rem;
        letter-spacing: 1px;
    }
    nav a {
        padding: 12px 10px;
}
}

@media screen and (max-width: 350px){
    .box-1 h1{
        font-size: 17px;
        line-height: 2rem;
        letter-spacing: 1px;
    }
    nav a {
        padding: 12px 8px;
}
}
